@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ------------------------------------------------ */

:root {
    --dark-blue: #2d3142;
    --blue: #4f5d75;
    --silver: #bfc0c0;
    --white: #ffffff;
    --orange: #ef8354;
    --green-dark: #81f77d;
    --green-light: #9fff9c;
    --red-dark: #ff9c9c;
    --red-light: #f78585;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: var(--white);
    background-color: var(--blue);
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

[class*="__container"] {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

.header__title {
    color: var(--white);
}

.main {
    padding: 15px;
    flex: 1;
}

.main__book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    background-color: var(--dark-blue);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-align: center;
    border-radius: 15px;
    font-weight: 600;
}

.card__read {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.card__read--read {
    background-color: var(--green-light);
}

.card__read--read:hover {
    background-color: var(--green-dark);
}

.card__read--not-read {
    background-color: var(--red-dark);
}

.card__read--not-read:hover {
    background-color: var(--red-light);
}

.footer {
    background-color: var(--dark-blue);

    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    color: var(--silver);
}
